* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

video {
  width: 100%;
  height: 99.6vh;
  object-fit: cover;
  filter: blur(6px);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .7);
}
.p-head {
  position: absolute;
  left: 8rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 7rem;
  z-index: 1000;
  overflow: hidden;
  animation-name: paragraph;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}


@keyframes paragraph {
    0% { top: -1000px; }
    100% { top: 29%; }
  }

.span-head::first-letter{
color: #000;
font-weight: 600;
}

.div-bttn {
  position: absolute;
  bottom: 8rem;
  left: 6rem;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.start-bttn {
  font-size: 5rem;
  padding: 1rem;
  background: none;
  border: 1px solid #000;
  color: #fff;
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;

  &:hover {
    color: #000;
    transition: 0.4s ease-in-out;
    border: 1px solid #fff;
  }
}

::-webkit-scrollbar {
  width: 4px;
  border: 1px solid #d5d5d5;
}

::-webkit-scrollbar-track {
  border-radius: 0;
  background: #eeeeee;
}

::-webkit-scrollbar-thumb {
  border-radius:0;
  background: #000;
}

@media (max-width: 768px) {
  .p-head {
    left: 2rem;
    font-size: 4rem;
    text-align: center;
    width: 90%;
    animation-duration: 1.5s;
  }

  .div-bttn {
    bottom: 4rem;
    left: 2rem;
  }

  .start-bttn {
    font-size: 3rem;
  }
}

@media (max-width: 480px) {
  .p-head {
    left: 1rem;
    font-size: 3rem;
    text-align: center;
    width: 90%;
    animation-duration: 1.5s;
  }

  .div-bttn {
    bottom: 2rem;
    left: 1rem;
  }

  .start-bttn {
    font-size: 2rem;
  }
}